<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/sign_style.css">
    <title>Document</title>
</head>
<body>
    

    <section id="form">
        <div class="container">
            <div class="parent">

                <h1>Read Recycle</h1>
                <div class="form-container">
                    <h2>Create a new account</h2>
                    <form action="">
                        <div class="form-property">
                            <label for="name">Enter your name</label>
                            <input type="text" id="name" placeholder="Name">
                            
                        </div>
                        <br><br>

                        <div class="form-property">
                            <label for="email">Enter your email address </label>
                            <input type="email" id="email" placeholder="E-mail">

                        </div>
                        <br><br>


                        <div class="form-property">
                            <label for="password">Password  </label>
                            <input type="password" id="password" placeholder="Enter strong password">

                        </div>
                        <br><br>
                        
                        
        
                    </form><br>
        
                    <a href="" class="btn">Sign Up</a>
        
                    <h3>Already have an account?</h3>
                    <a href="" class="btn">Login</a>
            </div>
            

            </div>

        </div>
         
          
    </section>

</body>
</html>
