
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container
{
    max-width: 1200px;
    width: 90%;
    width: 50%;
    margin: 0 auto;
}
/* ======================utility classes========================= */
.btn{
    /* background-color: rgba(0, 0, 0, 0.536); */
    background-color: rgba(15, 60, 236, 0.985);
    padding:1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    /* display: block; */
    border-radius: 1rem;
    text-decoration: none;
    outline: none;
    border: 0.1rem solid #fff;
    color: #fff;
}
.btn:hover{
    background-color: rgb(21, 9, 107);
    color: #fff;
}
/* ==================form-styling============================= */
#form{
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(155,155,168,1) 35%, rgba(0,212,255,1) 100%); */
    background-color: #f5f5f7;
    /* background-color: black; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 5rem;
    font-size: 600;
    text-align: center;
    font-weight: 600;
    /* text-align: center; */
    padding-top: 3rem;
    color: rgba(19, 101, 19, 0.907);
}
.form-container{
    /* border: 5px solid yellow;  */
   /* background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(155,155,168,1) 35%, rgba(0,212,255,1) 100%); */
   display: inline-block;
   position: absolute;
   /* position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 40%;
   transform: translate(-50%,-50%); */
   width: 100%;
   background-color: #fff;
   padding:2rem 6rem;
   border-radius: 1rem;
   text-align: center;
}
h2{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 4rem;
}

.form-container input{
    display: block;
    color: black;
    font-size: 2rem;    
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 0.3rem solid #666;
    outline : none;
    color: #444;
}
.flex-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width:800px)
{
    .container{
        width: 90%;
    }
}

